$ff: 'Nunito Sans', sans-serif;
$ff-second: 'Graphik', sans-serif;

$white: #FFFFFF;
$black: #000;
$primary: #5454D4;
$bgSwiper: #1E1E20;
$bg: #19191B;
$white07: rgba(255, 255, 255, 0.7);



$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1240px;
