.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15.1rem;
    @include tablet {
        flex-direction: column;
        gap: 6rem;
    }
    @include mobile-small {
        gap: 5rem;
        margin-bottom: 14rem;
    }


    &__info {
    }

    &__title {
        @include text($ff-second, 700, 8rem, 8.4rem, $white);
        margin-bottom: 2.4rem;
        max-width: 58.2rem;
        @include tablet {
            max-width: 100%;
            margin-top: 6rem;
        }
        @include mobile-small {
            margin-top: 4.2rem;
            font-size: 4.2rem;
            line-height: 6.3rem;
            margin-bottom: 3rem;
        }
    }

    &__desc {
        @include text($ff, 400, 2.1rem, 3.9rem, $white07);
        letter-spacing: -0.656526px;
        margin-bottom: 5rem;
        max-width: 53.6rem;
        @include tablet {
            max-width: 100%;
        }
        @include mobile-small {
            font-size: 1.6rem;
            line-height: 2.4rem;
            max-width: 31.9rem;
            letter-spacing: 0;
            margin-bottom: 5rem;
        }
    }

    &__img {
        flex-shrink: 0;
        img {
            transform: translateX(8rem);
            @include tablet {
                flex-shrink: 1;
                max-width: 100%;
                transform: translateX(0);
            }
        }
    }
}